*{
  margin: 0;
}
body{
  background-image: url("NN.jpg");
  background-size: cover;
}
#card{
    text-align: center;
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color:
}
#full{
    margin-top: 80px;
    border-radius: 50px 50px;
    height: 250px;
    background-color:#bfbfbf;
    width: 44%;
    margin-left: auto;
    margin-right: auto;




}
img{
    width: 84px;
    height: 94px;
}

#first{
    text-align: center;
    margin-top: 20px;



}

#first >span{
    display: block;
    padding: 10px;
}

#center :nth-child(2) >a{
    text-decoration: none;
    padding-left: 5px;

}
#center span:last-child{
    background-color: black;
    color: white;
    border-radius:30%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px 50px;



}
#center{
    margin-top: 20px;
}

#second{
    margin-top: 20px;
    text-align: center;
}
#second >span{
    display: block;
    padding: 10px
}
#center span{
    display:block;
    text-align: center;
    padding: 10px;
}

#line{
    height: 1px;
    background-color: black;
    margin-top: 10px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#card{
    display: grid;
    grid-template-columns: auto auto auto ;
}
#bottom{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

#time{
    font-size: 30px;
}

/*                      */
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/*here */

/* button  */
.dropbtn {
  background-color: #4b4e56;
  color: white;
  padding: 16px;
  font-size:26px;
  border: none;
  cursor: pointer;
  display: block;
  border-radius: 50px 50px;
  position: absolute;
  left: -277px;
  top: -170px;


}

.dropdown {
  /*position: relative;*/
  width: 200px;
  display: inline-block;
  margin: 100px auto;
  position: absolute;
  left: 64%;

}
#korz{
  position: absolute;
  left: -653px;
  top:-201px;

}
#wix{
  position: absolute;
  left: -301px;
  top:-299px;
}





.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;*/
}
/*            */

.middle {

  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);



}

/*************************************************************************************************/

.container {
  position: relative;
  width: 50%;
  background-color: #000;
  }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 10000000;
}

.container:hover .image {
  opacity: 0.3;
  background-color: #000;
}

.container:hover .middle {
  opacity: 1;

}

#full:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  border-radius: 50px 50px;
}



.text {
  background-color: #006bea;
  color: white;
  font-size: 38px;
  padding: 16px 32px;
  border-radius: 50px 50px;
  z-index: 10000000;
}
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

}
